*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins, Actor, Adamina';
}

.headerSection{
    background-color: #010101;
    height: 200px;
}

nav{
    margin-left: 850px;
    padding-top: 50px;
}

.headerSection nav ul li{
    display: inline-block;
    padding-bottom: 40px;
    padding-right: 30px;
}

li a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #ff1;
}

nav ul li button{
    border: none;
    background-color: #FFAC12;
    height: 25px;
    border-radius: 0 10px 0 0;
    width: 100px;
}

.headerSection .header{
    display: flex;
    justify-content: space-between;
    color: white;
}

.house{
    margin-left: 100px;
}

.house h5{
    font-size: 10px;
}

.dollars{
    margin-right: 200px;
}

.dollars h5{
    font-size: 10px;
}

.design{
    background-color: rgb(245, 245, 245);
}

.fit{
    display: flex;
    padding-top: 50px;
}
