* {
    font-family: 'Adamina', serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

.topnav {
    background: url(../images/moving\ 1.png);
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 1000px;
    padding: 5px;
    margin-bottom: 50px;
}

.topnav nav ul li {
    display: inline-block;
}